@font-face {
  font-family: 'caveat';
  src: url('../fonts/Caveat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Magic';
  src: url('../fonts/MagicSchoolOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.narator {
    color: black;
    font-family: 'Caveat', cursive;
    font-size: 22px;
}

.truenarator {
  color: white;
    font-family: 'Caveat', cursive;
    font-size: 22px;
}

.daniel {
  color: blue;
  font-family: 'Caveat';
  font-size: 22px;
}

.collin {
  color: darkgreen;
  font-family: 'Roboto';
  font-size: 18px;
}

.alice {
  color: lightcoral;
  font-family: 'Montserrat Alternates';
  font-size: 18px;
}

.historyteacher {
  color: gray;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
}